.row {
  display: flex;
}

.cell {
  border: 0px solid #000000;
  box-sizing: border-box;
  position: relative;
}

.board-free img,
.cell,
.border-l img,
.border-r img,
.border-u img,
.border-ul img,
.border-ur img,
.border-d img,
.border-dl img,
.border-dr img,
.water img {
  width: 40px;
  height: 40px;
}

.board-tribute img, .board-tribute-n img {
  width: 95%;
  height: 135%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.board-potion img {
  width: 50%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.board-sword img,
.board-spear img,
.board-bow img {
  width: 63%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  rotate: 30deg;
}

.pointer {
  width: 10px;
  height: 6px;
  position: absolute;
  top: 0%;
  left: 40%;
}
