.bottom-footer {
  display: flex;
  justify-content: center;
  margin-top: -10px;
}

.bottom-footer .game-title h2 {
  font-family: 'Creepster-Regular', sans-serif;
  font-size: 70px; 
  color: #800000;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
  margin-left: 25px;
}

@font-face {
  font-family: 'Creepster-Regular';
  src: url('../../public/fonts/Creepster-Regular.ttf') format('truetype');
}
  


  