.top-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.top-header .game-title h2 {
  font-family: 'Creepster-Regular', sans-serif;
  font-size: 70px; 
  color: #800000;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
}

@font-face {
  font-family: 'Creepster-Regular';
  src: url('../../public/Creepster-Regular.ttf') format('truetype');
}

.logo-img {
  width: 80px; 
  height: auto;
  margin: 2em;
  display: block;
}

:root {
  --background-color: black;
  --text-color: hsl(0, 0%, 100%);
}

.volume-slider {
  display: none;
}

.volume-slider.active {
  display: block;
  cursor: pointer;
}

.audio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 150px;
  height: 60px;
  padding: auto; 
}

.volume-button-off {
  margin-bottom: 20px;
}
